/* nav ***********************/
.nav {
	&__list {
		.cols;
		@media (max-width: @screen-lg) {
			margin-left: 0;
			margin-right: 0;
		}
	}
	&__item {
		@media (max-width: @screen-lg) {
			padding-left: 0;
			padding-right: 0;
		}
		@media (max-width: @screen-md) {
			float: none;
			text-align: left;
		}

		> a {
			display: block;
			font-size: @fz-large;
			padding: @indent-very-small @indent-very-small * 1.2;
			border: 1px solid transparent;
			line-height: 1;
			text-decoration: none;
			color: @c-base;
			@media (max-width: @screen-vlg) {
				font-size: @fz-base;
			}
			@media (max-width: @screen-lg) {
				padding-left: @indent-small;
				padding-right: @indent-small;
			}
			@media (max-width: @screen-md) {
				font-size: @fz-large;
				border: none;
				font-weight: bold;
				padding-top: @indent-small;
				padding-bottom: @indent-small;
				padding-left: @indent-small;
			}

			&:hover,
			&:focus {
				color: @c-primary;
			}
			&:hover {
				color: @c-primary !important;
			}
		}
		&_active {
			> a {
				border-color: @c-dark;
				@media (max-width: @screen-md) {
					color: @c-primary !important;
				}

				&:hover {
					border-color: @c-primary !important;
				}
			}
		}
	}

	//mods
	&_white &__item {
		> a {
			color: @c-white;
		}
		&_active > a {
			border-color: @c-white;
		}
	}
}
