/* article-preview ***********************/
.article-preview {
	//var
	@header-indent: @indent-base - @cont-padding;

	&__header {
		position: relative;
		height: 425px;
		@media (max-width: @screen-lg) {
			height: 350px;
		}
		@media (max-width: @screen-xs) {
			height: 300px;
			margin-left: -@cont-padding;
			margin-right: -@cont-padding;
		}

		&-link {
			.absolute;
			z-index: 1;

			&,
			&:hover,
			&:focus {
				text-decoration: none;
				color: transparent;
			}
		}
		&-container {
			position: absolute;
			bottom: @header-indent + @cont-padding;
			left: @header-indent;
			right: @header-indent;
		}

		//other
		.container {
			position: relative;
			height: 100%;
		}
	}
	&__img {
		.bg-img;
		@media (min-width: @screen-lg) {
			margin-left: -@cont-padding;
			margin-right: -@cont-padding;
		}

		&-inner {
			&:after {
				content: '';
				display: block;
				.absolute;
				opacity: .8;
				background: -moz-linear-gradient(top, rgba(0, 0, 0, 1) 0%, rgba(0, 0, 0, 0) 26%, rgba(0, 0, 0, 1) 100%);
				background: -webkit-linear-gradient(top, rgba(0, 0, 0, 1) 0%, rgba(0, 0, 0, 0) 26%, rgba(0, 0, 0, 1) 100%);
				background: linear-gradient(to bottom, rgba(0, 0, 0, 1) 0%, rgba(0, 0, 0, 0) 26%, rgba(0, 0, 0, 1) 100%);
				filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#000000', endColorstr='#000000', GradientType=0);
			}
		}
	}
	&__inner {
		.absolute;
		z-index: 1;

		&,
		* {
			color: @c-white;
		}
	}
	&__info {
		position: absolute;
		top: @header-indent + @cont-padding;
		left: @header-indent;
		right: @header-indent;
		.cols;
		@media (max-width: @screen-lg) {
			top: @header-indent;
		}
		@media (max-width: @screen-xs) {
			font-size: @fz-small;
		}

		&-left {
			@media (max-width: @screen-sm) {
				li {
					display: inline !important;
				}
			}
			@media (max-width: @screen-xs) {
				float: none;
			}
		}
		&-right {
			float: right;
			@media (max-width: @screen-xs) {
				float: none;
			}
		}
		a {
			text-decoration: none;
		}
	}
	&__title {
		position: absolute;
		bottom: @header-indent + @cont-padding;
		left: @header-indent;
		right: @header-indent;
		font-size: @h1-fz / 1.6;
		font-weight: @fw-extra;
		line-height: @heading-lh;
		@media (max-width: @screen-lg) {
			bottom: @header-indent;
			font-size: @h1-fz / 2;
		}
		@media (max-width: @screen-xs) {
			font-size: @h1-fz / 2.4;
		}

		> * {
			.h-reset;

			a {
				text-decoration: none;
				display: block;
			}
		}
	}
	&__body {
		margin-top: @indent-small + @indent-very-small;

		article {
			font-size: @fz-large;
			line-height: @lh-large;
			.last;
			margin-bottom: @indent-base;
		}
	}
	&__desc {
		.last;
		@media (max-width: @screen-xs) {
			max-height: 200px;
			overflow: hidden;
		}
	}
	&__link-more {
		margin-top: @indent-very-small;
	}
	&__label {
		text-transform: uppercase;
		margin-bottom: @indent-very-small;
		line-height: 1;
		font-size: @fz-small;
	}
	&__date {
		font-weight: @fw-extra;
		font-size: @h2-fz / 1.2;
		line-height: 1;
	}
	&__time {
		font-size: @fz-very-large;
		line-height: 1;
		font-weight: @fw-light;
		margin-top: @indent-very-small / 2;
	}
	&__options {
		//var
		@x: 2.2;

		.cols;
		.last;
		margin-left: -@cont-padding * @x;
		margin-right: -@cont-padding * @x;
		@media (max-width: @screen-md) {
			margin-left: -@cont-padding;
			margin-right: -@cont-padding;
		}

		&-item {
			padding-left: @cont-padding * @x;
			padding-right: @cont-padding * @x;
			@media (max-width: @screen-md) {
				padding-left: @cont-padding;
				padding-right: @cont-padding;
			}
			@media (max-width: @screen-sm) {
				float: none;
				width: 100%;
				margin-bottom: @indent-very-small;
			}
		}
		&-inner {
			.cols;
			margin-left: -@cont-padding / 2;
			margin-right: -@cont-padding / 2;

			> * {
				padding-left: @cont-padding / 2;
				padding-right: @cont-padding / 2;
			}
		}
	}

	//mods
	&_video &__header {
		height: 170px;
	}
	&_video &__info-right {
		padding-left: @cont-padding / 2;
		@media (max-width: @screen-vlg) {
			font-size: @fz-small;
		}
		@media (max-width: @screen-xs) {
			float: right;
		}
	}
	&_video &__info-left {
		padding-right: @cont-padding / 2;
		@media (max-width: @screen-xs) {
			float: left;
		}
	}
	&_video &__img {
		margin-left: auto;
		margin-right: auto;
	}
	&_video &__img-inner {
		&:after {
			background: -moz-linear-gradient(top, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 0) 35%, rgba(0, 0, 0, 1) 100%);
			background: -webkit-linear-gradient(top, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 0) 35%, rgba(0, 0, 0, 1) 100%);
			background: linear-gradient(to bottom, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 0) 35%, rgba(0, 0, 0, 1) 100%);
			filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#00000000', endColorstr='#000000', GradientType=0);
		}
	}
	&_video &__info {
		top: auto;
		left: @header-indent;
		right: @header-indent;
		bottom: @header-indent / 2;
	}
	&_video &__title {
		position: static;
		bottom: auto;
		left: auto;
		right: auto;
		font-size: @h3-fz;
		line-height: 1;
		@media (max-width: @screen-lg) {
			font-size: @h3-fz / 1.2;
		}
	}
	&_video &__body {
		margin-top: @indent-small;
		height: 88px;
		overflow: hidden;
		@media (max-width: @screen-xs) {
			height: auto;
		}
	}
	&_video &__desc {
		color: @c-secondary;
		font-size: @fz-small;
		margin-top: @indent-very-small;
	}

	&_event &__header {
		height: 170px;
	}
	&_event &__img {
		margin-left: auto;
		margin-right: auto;
	}
	&_event &__img-inner {
		overflow: hidden;

		&:after {
			background-color: @c-black;
			transform: skewX(-20deg);
			right: auto;
			left: -50px;
			opacity: .7;
			width: 205px;
		}
	}
	&_event &__info {
		top: @header-indent / 2;
		left: @header-indent;
		right: @header-indent;
		bottom: @header-indent / 2;
		padding-top: @indent-base - 7;

		> * {
			float: none;
		}
	}
	&_event &__title {
		position: static;
		bottom: auto;
		left: auto;
		right: auto;
		font-size: @h3-fz;
		line-height: 1;
	}
	&_event &__body {
		margin-top: @indent-small;
		height: 124px;
		overflow: hidden;
		@media (max-width: @screen-xs) {
			height: auto;
		}
	}
	&_event &__desc {
		color: @c-secondary;
		font-size: @fz-small;
		margin-top: @indent-very-small;
	}

	&_article &__header {
		@media (max-width: @screen-xs) {
			margin-left: 0;
			margin-right: 0;
		}
	}
	&_article &__img {
		margin-left: auto;
		margin-right: auto;
		overflow: hidden;

		&:after,
		&:before {
		}
	}
	&_article &__img-inner {
		&:after {
			background: -moz-linear-gradient(top, rgba(0, 0, 0, .3) 0%, rgba(0, 0, 0, 1) 100%);
			background: -webkit-linear-gradient(top, rgba(0, 0, 0, .3) 0%, rgba(0, 0, 0, 1) 100%);
			background: linear-gradient(to bottom, rgba(0, 0, 0, .3) 0%, rgba(0, 0, 0, 1) 100%);
		}
	}
	&_article &__header {
		height: 650px;
		@media (max-width: @screen-sm) {
			height: 580px;
		}

		&:after {
			content: '';
			display: block;
			position: absolute;
			top: 100%;
			left: 0;
			right: 0;
			height: 1px;
			width: 100%;
			background-color: @c-black;
			margin-top: 7px;
		}
	}
	&_article &__inner {
		margin-top: 133px + @indent-small;
	}
	&_article &__info {
		position: static;
		font-size: @fz-large;
		@media (max-width: @screen-sm) {
			font-size: @fz-base;
		}
		@media (max-width: @screen-xs) {
			font-size: @fz-small;
		}

		&,
		* {
			font-weight: @fw-light;
		}
	}
	&_article &__title {
		position: static;
		font-size: @h1-fz;
		margin-bottom: @h1-mb;
		margin-right: 30%;
		@media (max-width: @screen-vlg) {
			font-size: @h1-fz / 1.1;
		}
		@media (max-width: @screen-lg) {
			margin-right: 0;
		}
		@media (max-width: @screen-md) {
			font-size: @h1-fz / 1.2;
		}
		@media (max-width: @screen-sm) {
			font-size: @h1-fz / 1.4;
			margin-bottom: @h1-mb / 1.5;
		}
		@media (max-width: @screen-xs) {
			margin-bottom: @h1-mb / 2;
			font-size: @h1-fz / 2;
		}
		@media (max-width: 320px) {
			font-size: @h1-fz / 2.2;
		}
	}
	&_article &__body {
		margin-top: @indent-large;
		@media (max-width: @screen-sm) {
			margin-top: @indent-base;
		}

		article {
			@media (max-width: @screen-sm) {
				font-size: @fz-base;
			}
		}
	}
	&_article &__options-inner {
		@media (max-width: @screen-sm) {
			display: inline-block;
		}
	}
	&_article &__label {
		font-size: @fz-large;
		font-weight: @fw-light;
		margin-bottom: @indent-very-small * 1.2;
		@media (max-width: @screen-md) {
			font-size: @fz-small;
		}
		@media (max-width: @screen-sm) {
			display: inline-block;
			vertical-align: middle;
			margin-right: @indent-very-small;
		}
	}
	&_article &__date {
		font-size: @h2-fz * 1.1;
		@media (max-width: @screen-md) {
			font-size: @h3-fz;
			padding-right: @cont-padding / 4;
		}
		@media (max-width: 320px) {
			font-size: @h4-fz;
		}
	}
	&_article &__time {
		font-size: @fz-very-large * 1.2;
		@media (max-width: @screen-md) {
			font-size: @fz-base;
			padding-left: @cont-padding / 4;
		}
	}
}
